@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none !important;
}

:root {
    /* font-size */
    --font-size-28: 28px;
    --font-size-16: 16px;
    --font-size-64: 64px;
    --font-size-48: 48px;
    --font-size-20: 20px;
    --font-size-36: 36px;
    --font-size-24: 24px;
    --font-size-20: 20px;
    --font-size-14: 14px;
    --font-size-32: 32px;
    --font-size-: px;
    --font-size-: px;
    --font-size-: px;
    --font-size-: px;
    --font-size-: px;
    /* color-root */
    --color-white1: #FAFAFA;
    --color-white: #FFFFFF;
    --color-linear: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    --color-navbar: #1F1F49;
    --color-blur: #1C1737;
    --color-bg: #140D1B;
}

.nav-background {
    background: var(--color-navbar);
}

.ff-sans {
    font-family: sans-serif;
}

.the-travel-club {
    font-family: "Racing Sans One", sans-serif;
    font-size: var(--font-size-28);
    color: var(--color-white1);
    font-weight: 400;
    line-height: 35.7px;
    text-align: left;
}

.navbar-link {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-decoration: none;
}

.connect-wallet {
    padding: 14px 32px 14px 32px;
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    background: var(--color-linear);
    border-radius: 60px;
    border: 2px solid var(--color-linear);
}

.connect-wallet:hover {
    background: linear-gradient(0deg, #1219D2 0%, #4E52B1 100%);
}

.menubar {
    display: none;
}

/* section-1 */
.background-image {
    background-image: url(../images/png/section1-background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    background-position: center;
}

.section1-heading {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-64);
    color: var(--color-white);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
}

.section1-travel {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-64);
    color: var(--color-white);
    font-weight: 400;
    line-height: 75.2px;
    text-align: center;
}

.pt-9 {
    padding-top: 9rem;
}

.card-stays {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.blurbox {
    max-width: 930px;
    width: 100%;
    /* height: 300px; */
    padding: 30px;
    margin-top: 65px;
    border-radius: 16px;
    background: var(--color-blur);
    border: 1px solid #FDFDFD66;
}

.going-box {
    width: 452px;
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 16px;
}

.going-to {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    color: var(--color-white);
    text-align: left;
}

.check-in {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-10);
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    color: var(--color-white);
}

.jun {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-16);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
    color: var(--color-white);
}

.calenderbox {
    width: 180px;
    /* height: 48px; */
    border-radius: 8px;
    background: #FFFFFF14;
    border: 1px solid #FFFFFF99;
    padding: 5px;
}

.room-travelers {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-14);
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    color: var(--color-white);
}

.search-btn {
    font-family: "Poppins", sans-serif;
    font-size: var();
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--color-white);
    width: 122px;
    height: 52px;
    border-radius: 60px;
    background: var(--color-linear);
    border: none;
    margin-top: 34px;
}

.add-a-flight {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.input_2 {
    /* max-width: 180px; */
    border-radius: 8px;
    border: 1px solid var(--grey3);
    background: var(--black2);
    padding: 5px 10px 7px 10px;

}

.form-group {
    display: block;
    margin-bottom: 30px;
}

.form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.form-group label {
    position: relative;
    cursor: pointer;
}

.form-group label:before {
    content: "";
    -webkit-appearance: none;
    background-color: transparent;
    border: 0.6px solid #FFFFFF;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 5px;
    top: 0px;
}

.form-group input:checked+label:after {
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    height: 14px;
    border: 0.6px solid #FFFFFF;
    border-radius: 2px;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* section-2 */
.about-us {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-48);
    color: var(--color-white);
    font-weight: 400;
    line-height: 56.4px;
}

.we-are-building {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.we-will-be {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.background-color {
    background: var(--color-bg);
}

.mt-16 {
    margin-top: 16px;
}

.mt-20 {
    margin-top: 20px;
}

.get-reward {
    background: var(--color-linear);
    color: var(--color-white);
    padding: 14px 32px 14px 32px;
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    border-radius: 50px;
    border: 2px solid var(--color-linear);
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.mt-40 {
    margin-top: 40px;
}

/* section-3 */
.popular-destinations {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-48);
    color: var(--color-white);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
}

.hover-heading {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.mt-105 {
    margin-top: 105px !important;
}

.img-box,
.img-box img,
.blur-text {
    border-radius: 13px;
    transition: all 300ms linear;
}

.img-box:hover img {
    scale: 1.1;
}

.img-box:hover .blur-text {
    opacity: 100%;
    z-index: 1;
}


.img-box {
    height: 100%;
}

.blur-text {
    background: #01010140;
    width: 253px;
    height: 44px;
    border-radius: 42px;
    place-items: center;
    top: 12px;
    left: 12px;
    z-index: -1;
    backdrop-filter: blur(10px);
    opacity: 0%;
}

.img-box:hover .blur-text {
    opacity: 100%;
    z-index: 1;
}

.mt-24 {
    margin-top: 24px;
}

/* section-4 */
.slider-box {
    border-radius: 13px;
    transition: all 300ms ease-in-out;
    overflow: hidden;
    background: #1219D233;
}

.slider-box img {
    transition: all 300ms ease-in-out;
}

.slider-box:hover img {
    scale: 1.1;
}

.slider-box:hover .text-50 {
    z-index: 1;
    opacity: 100%;
}

.slider-box:hover {
    box-shadow: 0 0 30px #0e19db;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
    width: 100%;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    padding: 10px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
}

.slick-dots li,
.slick-dots li button {
    width: 28px;
    height: 12px;
    background: #FAFAFA;
    border-radius: 21px;
}

.slick-dots li button:before {
    content: '';
}

.slick-dots li.slick-active button:before,
.slick-dots li.slick-active {
    background: #1219D2;
    opacity: 100%;
    width: 59px;
    height: 21px !important;
    z-index: 2;
    border-radius: 21px;
}

.slick-dots li button:before {
    background: #1219D2;
    opacity: 100%;
    width: 59px;
    height: 19px;
    z-index: 2;
    border-radius: 21px;
}

.five-off {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
}

.one-nine-nine {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-24);
    color: var(--color-white);
    font-weight: 400;
    line-height: 28.2px;
    text-align: left;
}

.four-nine {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-20);
    color: var(--color-white);
    font-weight: 400;
    line-height: 23.5px;
    text-align: left;
}

.slider-paragraph {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-20);
    color: var(--color-white);
    font-weight: 600;
    line-height: 27.3px;
    text-align: left;
}

.member-deals {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-48);
    color: var(--color-white);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
}

.text-50 {
    background: #01010140;
    width: 123px;
    height: 44px;
    border-radius: 42px;
    backdrop-filter: blur(10px);
    place-items: center;
    transition: all 300ms ease-in-out;
    top: 16px;
    left: 16px;
    z-index: -1;
    opacity: 0%;
}

.card2 {
    background: #171360;
    border-radius: 20px;
}

/* section-5 */
.background-image-section5 {
    background-image: url(../images/png/section-5-background-image.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100v h;
    width: 100%;
    background-color: #25184C;
    margin-top: -11px;
    background-position: center;
}

.tokenomics-heading {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-48);
    color: var(--color-white);
    font-weight: 400;
    line-height: 56.4px;
    text-align: center;
}

.-mt-9 {
    margin-top: -9px;
}

.tex-c {
    text-align: center !important;
}

.bulr-box {
    background: rgba(18, 25, 210, .1);
    border-radius: 20px;
    height: 100vh;
}

.travel-box-heading {
    font-family: "Sans Serif Collection" sans-serif;
    font-size: var(--font-size-36);
    color: var(--color-white);
    font-weight: 400;
    line-height: 42.3px;
    text-align: center;
}

.max-supply {
    font-family: "Poppins" sans-serif;
    font-size: var(--font-size-20);
    color: var(--color-white);
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

.max-supply-number {
    font-family: "Poppins" sans-serif;
    font-size: var(--font-size-20);
    color: var(--color-white);
    font-weight: 600;
    line-height: 30px;
    text-align: left;
}

.farm-launchpools {
    font-family: "Poppins", sans-serif;
    font-size: var(--font-size-16);
    color: var(--color-white1);
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.farm-launchpools-number {
    font-family: "Sans Serif Collection", sans-serif;
    font-size: var(--font-size-32);
    color: var(--color-white);
    font-weight: 400;
    line-height: 37.6px;
    text-align: center;
}

.color-box {
    border-left: 6px solid #696CDF;
    padding-left: 24px;
}

.color-border1 {
    border-color: #5C368A;
}

.color-border2 {
    border-color: #E76E9A;
}

.color-border3 {
    border-color: #D1B35E;
}

.color-border4 {
    border-color: #98DBB3;
}

@media (min-width:992px) {
    .mt-22 {
        margin-top: 22px !important;
    }

}

@media (max-width:768px) {
    .slick-dots {
        display: none !important;
    }

}

@media (max-width:992px) {
    .mt-lg-24 {
        margin-top: 24px !important;
    }

    .menubar {
        width: 40px;
        height: 34px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 100;
    }

    .menubar span {
        height: 5px;
        width: 100%;
        background: var(--color-linear);
        border-radius: 3px;
    }

    .navbar-iteams {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        left: -100%;
        justify-content: center;
        align-items: center;
        transition: all 300ms linear;
        z-index: 90;
        background-color: var(--color-navbar);
    }

    .show {
        left: 0;
    }

}

@media (max-width:567px) {

    .connect-wallet-2 {
        padding: 14px 32px 14px 32px;
        font-family: "Poppins", sans-serif;
        font-size: var(--font-size-16);
        color: var(--color-white);
        font-weight: 600;
        line-height: 24px;
        text-align: left;
        background: var(--color-linear);
        border-radius: 60px;
        border: 2px solid var(--color-linear);
    }

    .connect-wallet-2:hover {
        background: linear-gradient(0deg, #1219D2 0%, #4E52B1 100%);
    }

}